@mixin min-max($min-width, $max-width) {
  min-width: $min-width;
  max-width: $max-width;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin title($fs: 36px, $ls: 3.6px, $lh: 36px, $clr: $titleColor){
 font-size: $fs;
 letter-spacing: $ls;
 color: $clr;
 line-height: $lh;
 text-transform: uppercase;
 font-weight: 600;
 margin: 0 auto 15px;
 text-align: center;
 font-family: "Source Sans Pro", sans-serif;
 font-weight: 700;
 @content;
};

@mixin btn($bg: $btnColor, $two-button: false) {
 width: 225px;
 border-radius: 3px;
 background-color: $bg;
 border: 2px solid $bg;
 box-shadow: 0 2px 5px rgba(0,0,0,.25);
 font-size: 14px;
 font-weight: 600;
 line-height: 16px;
 padding: 18px 0;
 letter-spacing: 0.14px;
 text-decoration: none;
 display: inline-block;
 text-align: center;
 text-transform: uppercase;
 color: $white;
 box-sizing: border-box;
 @content;

 &:hover {
  background-color: darken($btnColor, 10%);
  border-color: darken($btnColor, 10%);
  transition: 500ms;
 };

 @if $two-button == true {
  &:first-child {
   margin-right: 25px;
  }
  &:last-child {
   background-color: transparent;
   border-color: $white;
   &:hover {
    border-color: $btnColor;
    transition: 500ms;
   }
  }
 }
};

@mixin devider($color-line:#f1ebe7) {
 display: block;
 width: 7px;
 position: relative;
 margin: 20px auto;
 p {
  text-align: center;

  &::after {
   content: '';
   width: 7px;
   height: 7px;
   background-color: $btnColor;
   display: block;
   border-radius: 50%;
  }
 }

 &::after, &::before {
  content: '';
  width: 80px;
  height: 1px;
  background-color: $white;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-1px);
 }
 &::after {
  right: 15px;
 }

 &::before {
  left: 15px;
 }
}